@page
@model Charity.WebApp.Pages.AboutModel
@{
}


<!-- Page Banner Section -->
<section class="page-banner">
    <div class="image-layer lazy-image" data-bg="url('images/background/bg-banner-1.jpg')"></div>
    <div class="bottom-rotten-curve alternate"></div>

    <div class="auto-container">
        <h1>About Us</h1>
        <ul class="bread-crumb clearfix">
            <li><a asp-page="/Index">Home</a></li>
            <li class="active">About Us</li>
        </ul>
    </div>

</section>
<!--End Banner Section -->
<!--About Section-->
<section class="about-section style-two alternate">
    <div class="circle-one"></div>
    <div class="circle-two"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <!--Left Column-->
            <div class="left-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="sec-title">
                        <div class="sub-title">About Us</div>
                        <h2>Please Rise your Helping Hand</h2>
                        <div class="text" style="margin-top: 61px;text-align: inherit;">
                            <span style="color: #20914b; font-size: 22px;font-weight: bold;">We are Non-profit organisation</span> , We strive to spread goodness and human values among the Arab youth in Europe, as our contribution towards the society in which we live ... We carry good to all ...
                        </div>
                        @*<div class="link-box clearfix"><a href="causes.html" class="theme-btn btn-style-one"><span class="btn-title">Read More</span></a></div>*@
                    </div>
                </div>
            </div>
            <!--Right Column-->
            <div class="right-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="images clearfix">

                        <img src="~/images/about.jpg" />
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
