@page
@model Charity.WebApp.Pages.DonateModel
@{
}
@using Enum
<style>
    .message{
        color: red
    }
</style>
<!-- Page Banner Section -->
<section class="page-banner">
    <div class="image-layer lazy-image" data-bg="url('images/background/bg-banner-1.jpg')"></div>
    <div class="bottom-rotten-curve"></div>

    <div class="auto-container">
        <h1>Make Donation</h1>
        <ul class="bread-crumb clearfix">
            <li><a asp-page="/Index">Home</a></li>
            <li class="active">Make Donation</li>
        </ul>
    </div>

</section>
<!--End Banner Section -->
<!--Donate Section-->
<section class="donate-section">
    <div class="auto-container">
        <div class="tabs-box">
            <div class="row clearfix">

                <!--Title Column-->
                <div class="title-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner">
                        <h2>Please Make Your Donation</h2>
                        <div class="text">Dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris aliquip exa commodo.</div>
                        <figure class="image-box"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png"  alt=""></figure>
                    </div>
                </div>

                <!--Form Column-->
                <div class="form-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="donate-form">
                            <form method="post">
                                <div class="form-group">
                                    <div class="field-label">How much would you like to donate?</div>
                                    <input type="text" class="form-control" placeholder="Enter Amount" asp-for="model.Money">
                                    <span class="message" asp-validation-for="model.Money"></span>

                                </div>

                                <div class="personal-info">
                                    <h3>Payment Information</h3>

                                    <div class="row clearfix">
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                            <div class="field-label">Card Type</div>
                                            <select selected asp-items="Html.GetEnumSelectList<CardType>()" class="form-control navbar-brand"></select>
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <div class="field-label">Card Number</div>
                                            <input type="text" asp-for="model.Number">
                                            <span class="message" asp-validation-for="model.Number"></span>

                                        </div>

                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <div class="field-label">CVV</div>
                                            <input type="text" asp-for="model.Cvv">
                                            <span class="message" asp-validation-for="model.Cvv"></span>

                                        </div>

                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <div class="field-label">Month</div>
                                            <input type="number" min="1" max="12" placeholder="MM" asp-for="model.ExpireMonth">
                                            <span class="message" asp-validation-for="model.ExpireMonth"></span>

                                        </div>

                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <div class="field-label">Year</div>
                                            <input type="number" min="1900" max="2099" step="1" placeholder="YYYY" asp-for="model.ExpireYear">
                                            <span class="message" asp-validation-for="model.ExpireYear"></span>

                                        </div>
                                        <div class="method">
                                            <div class="form-group">
                                                <div class="clearfix">
                                                    <div class="radio-block"><input type="radio" id="radio-1" name="method"><label for="radio-1">Please Agree to the <span style="color:#3cc88f">refund policy terms and conditions</span> before procedding</label></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="btn-box">
                                        <button type="submit" class="theme-btn btn-style-one"><span class="btn-title">Donate Now</span></button>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
